button {
	height: 90px;
	width: 290px;
	font-size: 28px;
	color: white;
	border: none;
	background-color: blue;
	/* transition-property: background-color color width; */
	/* transition-property: all; */
	/* transition-duration: 3ms; */
	/* transition: background-color 3s, color 3s, width 3s;
	color: 2s ease 4s; */
	transition: all 3s ease-in 2s;
}

button:hover {
	background-color: green;
	color: black;
	/* width: 300px; */
	border-radius: 50%;
}

.container {
	width: 960px;
}

.move {
	margin: 2em;
	width: 150px;
	height: 50px;
	padding: 10px 15px;
	background-color: red;
	color: #fff;
	line-height: 50px;
	text-align: center;
	border-radius: .5em;
	font-size: 20px;
	transition-property: translate();
	transition-duration: 3s;
}

#ease {	
	transition-timing-function: ease;	
}

#linear {	
	transition-timing-function: linear;
}

#ease-in {	
	transition-timing-function: ease-in;	
}

#ease-out {	
	transition-timing-function: ease-out;	
}

#ease-in-out {
	transition-timing-function: ease-in-out;	
}

.move:hover {
	transform: translate(900px, 0);
}

div {
	height: 90px;
	width: 290px;
	font-size: 28px;
	margin: 20px;
	color: white;
	border: none;
	background-color: blue;
	line-height: 90px;
	text-align: center;
	transition: all 1s;
}

.background:hover {
	background-color: green
}

.color:hover {
	color: red;
}

.font-size:hover {
	font-size: 32px;
}

.height:hover {
	height: 120px;
}

.width:hover {
	width: 340px;
}

.letter-spacing:hover {
	letter-spacing: 5px;
}

.line-height:hover {
	line-height: 120px;
}

.margin-bottom:hover {
	margin-bottom: 50px;
}

.margin-top:hover {
	margin-top: 50px;
}

.opacity:hover {
	opacity: .3;
}

.padding:hover {
	padding: 20px;
}

.border-color, .border-width {
	border: 6px solid green;
}

.border-color:hover {
	border-color: red;
}

.border-width:hover {
	border-width: 12px;
}